<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: arial;
    }

    .send-newsletter {
        display: flex;
        flex-direction: column;
    }
</style>

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Newsletter Subsscription</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">
</head>

<body>
    <h1>Yes boss</h1>
    <form action="/admin" method="post" class="send-newsletter">
        <input name="title" type="text" placeholder="title" required>
        <textarea name="content" id="" cols="30" rows="10" placeholder="content" style="resize: none;"
            required></textarea>
        <button>Send</button>
    </form>
</body>

</html>